@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700|Open+Sans:300,400");

/*====================================
		    Reset CSS
====================================*/

a,
body,
div,
header,
html,
i,
img,
li,
nav,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  font-weight: 400;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  color: #787878;
  font-size: 15px;
  line-height: 1.75em;
  overflow-x: hidden;
  text-align: left;
  line-height: 1;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.hidden-body {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  padding: 0;
  color: #2c3e50;
  font-family: Monserrat, sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
}

h2 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
}

h4 {
  font-size: 25px;
  line-height: 33px;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

h6 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
}

strong {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

header,
nav {
  display: block;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #04a6a1;
  text-decoration: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

a:active,
a:focus {
  text-decoration: none;
}

a:focus,
a:hover {
  color: #1abc9c;
  outline: 0;
  text-decoration: none;
}

.navbar .container {
  display: inline;
}

.ptb-90 {
  padding: 90px 0;
}

.ptb-50 {
  padding: 50px 0;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-0 {
  margin-bottom: 0;
}

.bg-secondary {
  background: #f9f9f9 !important;
}

.bg-white {
  background: #fff !important;
}

.bg-color {
  background: #04a6a1 !important;
}

.white-text {
  color: #fff !important;
}

.color-text {
  color: #04a6a1 !important;
}

.softo-solid-btn {
  padding: 5px 30px;
  border: 2px solid #04a6a1;
  background-color: #04a6a1;
  color: #fff;
  font: 600 14px/30px Montserrat, sans-serif;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  letter-spacing: 0.5px;
}

.softo-solid-btn:hover {
  border: 2px solid #04a6a1;
  background: 0 0;
  color: #000;
  text-decoration: none;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

button {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border: 1px solid transparent;
}

/*====================================
		    PRELOADER CSS
====================================*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #04a6a1;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #1abc9c;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #38ef7d;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*====================================
		    Main CSS
====================================*/

.main {
  max-width: 1920px;
  margin: 0 auto;
}

.section-heading {
  margin-bottom: 50px;
}

.section-heading h3 {
  font-weight: 700;
}

.section-heading p {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-top: 20px;
}

/*====================================
		    Header CSS
====================================*/

.navbar {
  background-color: #04a6a1 !important;
}

.navbar .nav.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .navbar-collapse {
  border-top: 1px solid #04a6a1;
}

.navbar .navbar-brand {
  display: block;
}

#name {
  color: #fff;
  font-family: Montserrat, sans-serif;
  margin-left: 5px;
  font-weight: 600;
  padding-bottom: 10px;
}

.logo {
  height: 50px;
}

.navbar .nav.navbar-nav li a {
  color: #fff;
  padding: 22px 15px;
}

.navbar .nav.navbar-nav li a:hover,
.navbar .nav.navbar-nav li.active a {
  background: 0 0;
  color: #fff;
  opacity: 1;
}

.navbar-toggler {
  margin: auto 0;
}

.navbar .navbar-toggler,
.navbar .navbar-toggler.collapsed:active,
.navbar .navbar-toggler:active,
.navbar .navbar-toggler:hover {
  margin-top: 16px;
  border: 1px solid #fff;
  background-color: #fff;
}

.navbar .navbar-toggler.collapsed {
  border: 1px solid #04a6a1;
  background: 0 0;
}

.navbar .navbar-toggler.collapsed {
  border: 1px solid #04a6a1;
  background: 0 0;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .navbar .nav.navbar-nav li a {
    padding: 8px 15px;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: 20px 0;
    border-bottom: 1px solid transparent;
    background: 0 0 !important;
    -o-transition: border-bottom 0.3s ease-in-out, background 0.3s ease-in-out,
      padding 0.3s ease-in-out;
    -webkit-transition: border-bottom 0.3s ease-in-out,
      background 0.3s ease-in-out, padding 0.3s ease-in-out;
    -moz-transition: border-bottom 0.3s ease-in-out, background 0.3s ease-in-out,
      padding 0.3s ease-in-out;
    transition: border-bottom 0.3s ease-in-out, background 0.3s ease-in-out,
      padding 0.3s ease-in-out;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-transition: border-bottom 0.3s ease-in-out, background 0.3s ease-in-out,
      padding 0.3s ease-in-out;
  }
  .navbar .nav.navbar-nav {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar .navbar-collapse {
    border: none;
  }
  .navbar.top-nav-collapse {
    padding: 0;
    background: linear-gradient(
      150deg,
      #04a6a1 15%,
      #1abc9c 70%,
      #38ef7d 94%
    ) !important;
  }
  .navbar .navbar-brand {
    margin-right: 16px;
    margin-left: 0 !important;
  }
  .navbar .nav.navbar-nav li a,
  .navbar .nav.navbar-nav.navbar-right li a {
    padding: 20px 10px;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: Montserrat, sans-serif;
  }
  .navbar .nav.navbar-nav li a:hover,
  .navbar .nav.navbar-nav li.active a {
    background: 0 0;
    color: #e7f3ff;
  }
}

/*====================================
		    END Header CSS
====================================*/

/*====================================
		    Hero CSS
====================================*/

/*====================================
		    Hero CSS
====================================*/

.hero-content-wrap {
  display: table;
  height: 550px;
  width: 100%;
}

.hero-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 200;
}

.hero-content h1 {
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  margin-bottom: 0;
  font-weight: 500;
}

.hero-content p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7;
  padding: 20px 0;
  color: #fff;
}

.hero-img img {
  max-height: calc(100% + 5em);
}

.max-none img {
  max-width: none;
}

.bottom-relative {
  position: relative;
  z-index: -1;
}

.section-circle {
  position: relative;
}

@media (min-width: 768px) {
  .section-hero {
    min-height: 500px;
  }
  .section-lg {
    padding-top: 6rem;
  }
  .section-circle {
    position: relative;
  }
}

.section-circle .stars-and-coded {
  margin-top: 8rem;
}

.section-circle .shape {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
}

.section-circle .shape span {
  position: absolute;
}

.section-circle .circle-animation span {
  animation: ripple-white 1s linear infinite;
  -webkit-animation: ripple-white 1s linear infinite;
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
}

.section-circle .shape-primary {
  background: linear-gradient(150deg, #04a6a1 15%, #1abc9c 70%, #38ef7d 94%);
}

.section-circle .shape-primary :nth-child(1) {
  background: #04a6a1;
}

.section-circle .shape-primary :nth-child(2) {
  background: #04a6a1;
}

.section-circle .shape-primary :nth-child(3) {
  background: #04a6a1;
}

.section-circle .shape-primary :nth-child(4) {
  background: #09ac00;
}

.section-circle .shape-primary :nth-child(5) {
  background: #0fd405;
}

.section-circle .shape-style-1 span {
  width: 120px;
  height: 120px;
  border-radius: 100px 130px 100px 315px;
}

.section-circle .shape-style-1 .span-200 {
  width: 200px;
  height: 200px;
}

.section-circle .shape-style-1 .circle-150 {
  width: 150px;
  height: 150px;
}

.section-circle .shape-style-1 .circle-100 {
  width: 100px;
  height: 100px;
}

.section-circle .shape-style-1 .circle-75 {
  width: 75px;
  height: 75px;
}

.section-circle .shape-style-1 .circle-50 {
  width: 50px;
  height: 50px;
}

.section-circle .shape-style-1 :nth-child(1) {
  bottom: auto;
  left: -3%;
  top: -20px;
  background: rgba(255, 255, 255, 0.1);
}

.section-circle .shape-style-1 :nth-child(2) {
  top: 15%;
  right: 10%;
  background: rgba(255, 255, 255, 0.1);
}

.section-circle .shape-style-1 :nth-child(3) {
  top: 280px;
  right: 5.66666%;
  background: rgba(255, 255, 255, 0.3);
}

.section-circle .shape-style-1 :nth-child(4) {
  top: 320px;
  right: 7%;
  background: rgba(255, 255, 255, 0.15);
}

.section-circle .shape-style-1 :nth-child(5) {
  top: 38%;
  right: auto;
  left: 1%;
  background: rgba(255, 255, 255, 0.05);
}

.section-circle .shape-style-1 :nth-child(6) {
  top: 65%;
  right: auto;
  left: 35%;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.15);
}

.section-circle .shape-style-1 :nth-child(7) {
  right: 40%;
  bottom: 45%;
  background: rgba(255, 255, 255, 0.04);
}

.section-circle .shape-style-1 :nth-child(8) {
  right: 6%;
  bottom: 100px;
  background: rgba(255, 255, 255, 0.2);
}

.section-circle .shape-style-1 :nth-child(9) {
  right: 5%;
  bottom: 12%;
  background: rgba(255, 255, 255, 0.1);
}

.section-circle .shape-style-1 :nth-child(10) {
  right: auto;
  bottom: 11%;
  left: 15%;
  background: rgba(255, 255, 255, 0.05);
}

@media (max-width: 991.98px) {
  .section-circle .shape-style-1 span {
    height: 120px;
  }
}

@media (max-width: 767.98px) {
  .section-circle .shape-style-1 span {
    height: 90px;
  }
}

.section-circle .shape-style-1.shape-primary {
  background: linear-gradient(150deg, #04a6a1 15%, #1abc9c 70%, #38ef7d 94%);
}

.mobile-slider-area {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 9;
  margin-top: 50px;
  padding-bottom: 150px;
}

.mobile-slider-area img {
  margin: 0 auto;
}

.pos-hcenter{
  display: block;
  margin: auto;
}

.mobile-slider {
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  overflow: hidden;
  position: absolute;
  left: 20%;
  top: 13px;
  width: 60%;
}

@media only screen and (min-width: 1920px) {
  .mobile-slider {
    border-radius: 33px;
    height: 90%;
    left: 0;
    margin: 20px auto auto;
    right: 0;
    top: 0;
    width: 86%;
  }
  .mobile-slider-area img {
    width: 100%;
  }
  .mobile-slider::before {
    height: 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .mobile-slider {
    border-radius: 23px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
    height: 94%;
    left: 0;
    margin: 17px auto auto;
    right: 0;
    top: 0;
    width: 86%;
  }

  .mobile-slider::before {
    height: 24px;
  }
  .welcome-text h1 {
    font-size: 48px;
  }
  .mobile-slider-area img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .welcome-text {
    text-align: center;
  }
  .mobile-slider-area {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .welcome-text {
    text-align: center;
  }
  .welcome-text h1 {
    font-size: 26px;
  }
  .welcome-area .download-button {
    display: none;
  }
  .mobile-slider-area {
    display: none;
  }
  .download-button a:first-child {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .welcome-text h1 {
    font-size: 32px;
  }
  .welcome-area .download-button {
    display: block;
  }
  .download-button a:first-child {
    margin-bottom: inherit;
  }
}

.hero-slider-section {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.slider-content h1 {
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 20px;
  font-weight: 400;
}

.slider-content h1,
.sliedr-content p {
  color: #fff;
}

.slider-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 26px;
  margin-bottom: 30px;
}

.slider-action-btn {
  display: block;
  margin-bottom: 20px;
}

.slider-action-btn a.softo-solid-btn {
  background: #fff;
  color: #333;
  border: 1px solid #fff;
  text-transform: capitalize;
  margin-right: 15px;
}

.slider-action-btn a.softo-solid-btn:hover {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}

.slider-action-btn a.btn-icon {
  font-size: 30px;
  color: #fff;
}

.slider-action-btn a.btn-icon:hover {
  opacity: 0.8;
}

.slider-action-btn a.video {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 30px;
  padding-left: 40px;
  color: #fff;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.slider-action-btn .video:hover span {
  background: #04a6a1;
  color: #fff;
}

.slider-action-btn a.video span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #04a6a1;
  border: 2px solid #fff;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.3s ease-in;
  -webkit-animation: ripple-white 1s linear infinite;
  animation: ripple-white 1s linear infinite;
  -webkit-transition: 0.5s linear;
}

.slider-action-btn a.video span:before {
  font-size: 18px;
  line-height: 28px;
  margin-left: 2px;
}

.hero-sliedr-section-one,
.hero-slider-section-two {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.hero-slider-section-one:after,
.hero-slider-section-two:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  background: linear-gradient(150deg, #04a6a1 15%, #1abc9c 70%, #38ef7d 94%);
}

.section-shape {
  bottom: -8px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

.section-shape img {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

.hero-sliedr-section .section-shape {
  z-index: 0;
}

.river-wave-area {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.river-wave {
  background: url("../img/wave.svg") repeat-x;
  position: absolute;
  top: -100px;
  width: 6400px;
  height: 100px;
  animation: river-wave 35s cubic-beizer(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-animation: river-wave 35s cubic-beizer(0.36, 0.45, 0.63, 0.53)
    infinite;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}

.river-wave:nth-of-type(2) {
  top: -56px;
  animation: river-wave 35s cubic-beizer(0.36, 0.45, 0.63, 0.53) infinite,
    swell 7s ease -1.25s infinite;
  -webkit-animation: river-wave 35s cubic-beizer(0.36, 0.45, 0.63, 0.53)
      infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes river-wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -45px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

.hero-bottom-image {
  width: 100%;
  position: absolute;
  bottom: -30px;
  left: 0;
  z-index: 1;
}

.hero-four {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-four:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  background: linear-gradient(150deg, #04a6a1 15%, #1abc9c 70%, #38ef7d 94%);
}

#hero-section .video-section-wrap-two {
  position: relative;
  z-index: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

#hero-section .video-sction-wrap-two .patter-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(150deg, #04a6a1 15%, #1abc9c 70%, #38ef7d 94%);
}

.slider-bg-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 1;
}

.slider-bg-contents-wrap h1,
.hero-slider-text h1 {
  font-size: 40px;
  line-height: 45px;
  color: #fff;
}

.slider-bg-contents-wrap p,
.hero-slider-text p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
}

.hero-action-btn a.softo-solid-btn:hover {
  background: #fff;
  color: #04a6a1;
  border-color: #fff;
}

.download {
  margin-left: 10px;
}

.phone-carousel {
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: scale(1) perspective(2006px) rotateY(35deg) rotateX(35deg)
    rotate(5deg);
}

.phone-carousel .phone {
  position: relative;
  z-index: 5;
  width: 100%;
}

.phone-carousel .phone .header-slider {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 5% 11.75% 0 11.75%;
  border-radius: 30px;
}

.phone-carousel .phone .header-slider .item img {
  cursor: -webkit-grab;
  border-radius: 35px;
}

/*====================================
		    END Hero CSS
====================================*/

/*==============================
     benefit SECTION CSS
==============================*/
.single-benefit-section {
  background: #fff;
  display: block;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 0 1px 2px rgba(212, 212, 212, 0.35);
  box-shadow: 0 1px 2px rgba(212, 212, 212, 0.35);
}

.single-benefit-section:hover {
  -webkit-box-shadow: 0 1px 2px rgba(212, 212, 212, 0.55);
  box-shadow: 0 1px 2px rgba(212, 212, 212, 0.55);
  cursor: pointer;
}

.single-benefit-section:hover .line {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.single-benefit-content {
  padding: 25px 25px 0;
}

.benefit-logo {
  width: 35px;
  height: 35px;
}

.single-benefit-content h6 {
  font-size: 15px;
  line-height: 23px;
}

.single-benefit-content p {
  margin-bottom: 25px;
}

.single-benefit-section .line {
  width: 100%;
  height: 2px;
  background: #04a6a1;
  background: linear-gradient(150deg, #04a6a1 15%, #1abc9c 70%, #38ef7d 94%);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (max-width: 767px) {
  .benefit-section {
    padding-bottom: 30px;
  }
}

/*==============================
     END SECTION CSS
==============================*/

/*==============================
     FEATURE SECTION CSS
==============================*/

.align-items-center {
  align-items: center !important;
}

.single-feature {
  align-items: flex-start !important;
  display: flex !important;
  padding: 1.5em 1em;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.feature-icon {
  margin-right: 20px;
  transition: all 0.3s ease-in;
}

.icon-shape {
  text-align: center;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-flex;
  min-width: 2.75rem;
  min-height: 2.75rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  color: inherit;
  transition: all 0.3s ease-in;
}

.icon-shape i {
  font-size: 1.2rem;
}

.feature-content h5 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
}

.single-feature:hover .icon {
  border-radius: 50%;
}

/*==============================
     END FEATURE SECTION CSS
==============================*/

/*==============================
     VIEW AND GOALS SECTION CSS
==============================*/

.icono {
  display: block;
  margin: auto 0;
}

.text {
  padding-bottom: 50px;
}

.text h2 {
  color: #2c3e50;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding-bottom: 35px;
}

.text p {
  font-size: 14px;
  line-height: 24px;
  color: #787878;
  font-weight: 700;
  letter-spacing: 0.28px;
}

.right-img {
  text-align: center;
  vertical-align: bottom;
  height: 100%;
  margin-top: 180px;
}

.right-img img {
  max-width: 100%;
}

.media:first-child {
  margin-top: 0;
}

.media {
  margin-top: 40px;
}

.media-left {
  padding-right: 15px;
}

.media-left i {
  font-size: 32px;
}

.media-body {
  width: 100%;
}

.media-body h4 {
  font-size: 18px;
  font-weight: 700;
  color: #2c3e50;
  letter-spacing: 0.36px;
  padding-bottom: 22px;
}

.media-body p {
  text-align: justify;
  font-size: 14px;
  line-height: 24px;
  color: #787878;
  letter-spacing: 0.28px;
}

.img-left {
  margin-top: 80px;
}

.img-left img {
  width: 100%;
  vertical-align: middle;
}

.list .media {
  background: #f6f7fa;
  padding: 12px 0 12px 30px;
}

.list .media .icono i {
  font-size: 36px;
}

.list .media .body-text h4 {
  font-size: 18px;
  color: #2c3e50;
}

.list .media .body-text {
  padding-top: 10px;
  display: table-cell;
  vertical-align: 100%;
}

/*==============================
    END VIEW AND GOALS SECTION CSS
==============================*/

/*============================================================
				Download app
============================================================*/
.download-section {
  margin-top: 110px;
  position: relative;
  z-index: 1;
}

.download-section:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  background: linear-gradient(
    150deg,
    rgba(4, 166, 161, 0.76) 15%,
    rgba(26, 188, 156, 0.89) 70%,
    rgba(56, 239, 125, 0.74) 94%
  );
}

.download-app-img {
  margin-top: -12px;
}

.download-app-text {
  padding: 100px 0;
}

.download-app-text h3,
.download-app-text p {
  color: #fff;
}

.newsletter {
  position: relative;
  display: block;
  overflow: hidden;
  padding-top: 40px;
  transition: all 0.3s ease-in;
}

.newsletter-form {
  position: relative;
}

.newsletter-form .input-newsletter {
  height: 50px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 15px;
}

.newsletter-form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  border: none;
  border-radius: 0 30px 30px 0;
  background-color: #38ef7d;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  font-weight: 600;
}

.newsletter-form button i {
  position: absolute;
  right: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newsletter-form .input-newsletter:focus,
.newsletter-form button:focus {
  outline: 0;
}

/*

Buttons Download

.download-app-button {
  position: relative;
  display: block;
  overflow: hidden;
  padding-top: 40px;
  transition: all 0.3s ease-in;
}
.download-btn span {
  font-size: 28px;
  line-height: 28px;
  margin-right: 10px;
  color: #fff;
}
.download-btn {
  border: 1px solid #fff;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  float: left;
  padding: 5px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.download-btn p small {
  font-size: 12px;
  line-height: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.download-btn p {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
}
@media screen and (max-width: 1024px) and (min-width: 320px) {
  .download-app-img {
    display: none;
  }
}

.download-app-button a:hover {
  background: #fff;
}
.download-app-button a:hover p,
.download-btn.hover-active p {
  color: #04a6a1;
}
.download-app-button a:hover span,
.download-btn.hover-active span {
  background: linear-gradient(to bottom, #04a6a1 15%, #1abc9c 70%, #38ef7d 94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.download-btn.hover-active {
  background: #fff;
}
*/

/*============================================================
				END Download app
============================================================*/

/*============================================================
				Start Counter app
============================================================*/

.counter-content-wrap span {
  float: left;
  margin-right: 15px;
  font-size: 40px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  align-items: center;
  top: 8px;
  background: linear-gradient(150deg, #04a6a1 15%, #1abc9c 70%, #38ef7d 94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-counter-section .counter-title {
  font-size: 1.371rem;
  line-height: 1.2em;
  color: #747474;
  margin-bottom: 0;
}

.product-counter-section .counter-list {
  font-size: 1.143rem;
}

.product-counter-section .counter-list li {
  text-align: center;
  margin: 0 40px;
}

.product-counter-section .counter-list .count {
  font-size: 1.571rem;
  margin-bottom: 5px;
  display: block;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.product-counter-section .counter-list .title {
  display: block;
  font-size: 16px;
}

.product-counter-section .counter-list li:nth-child(3n + 1) .count {
  color: #04a6a1;
}

.product-counter-section .counter-list li:nth-child(3n + 2) .count {
  color: #1abc9c;
}

.product-counter-section .counter-list li:nth-child(3n + 3) .count {
  color: #38ef7d;
}

@media (max-width: 768px) {
  .counter-content-wrap p,
  .product-counter-section .counter-title {
    text-align: center;
  }
  .product-counter-section .counter-list li {
    margin: 10px 0 0 0;
  }
  .counter-content-wrap span {
    text-align: center;
    display: block;
    margin-bottom: 15px;
    float: none;
  }
}

@media (max-width: 767px) {
  .product-counter-section .counter-list {
    text-align: center;
    margin-top: 20px;
  }
}

/*============================================================
				END Counter app
============================================================*/

/*============================================================
				Start Social icon app
============================================================*/

.section_wrapper {
  width: 100%;
  position: relative;
}

.social_margins {
  padding: 40px 0 10px;
}

.align_center {
  text-align: center;
}

.section_box {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

ul.social_icons {
  display: block;
  width: 100%;
  max-width: 1140px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #787878;
  list-style: none;
}

ul.social_icons li {
  display: inline-block;
  margin: 10px 0 !important;
  padding: 0 30px !important;
  text-align: center;
  line-height: 100% !important;
}

ul.social_icons li a i {
  font-size: 36px;
  line-height: 36px;
  color: #767676;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

ul.social_icons li a i:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  color: #38ef7d;
}

/*============================================================
				END Social icon app
============================================================*/

#footer {
  width: 100%;
  background-color: #2d3436;
  border-top: 1px solid #2a2f37;
  z-index: 100;
  padding: 50px 0 20px;
}

#footer-box {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.p-footer {
  font-family: "Open Sans", sans-serif;
  color: #80888b;
  margin-bottom: 25px;
  line-height: 24px;
  font-weight: 300;
}

/*============================================================
				 END Footer icon app
============================================================*/

/*
#04a6a1 #16a085 ##1abc9c #38ef7d 
linear-gradient(150deg, #04a6a1 15%, #1abc9c 70%, #38ef7d 94%);
*/
