@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Open+Sans:400,600,700,800&display=swap");
html {
    scroll-behavior: smooth
}

* {
    margin: 0;
    padding: 0
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.P1 {
    padding-bottom: 120px
}

.P2 {
    padding-bottom: 25px
}

.P3 {
    padding-bottom: 97px
}

.PTOP {
    padding-top: 25px
}

.icon3 {
    padding-top: 10px
}

.icon4 {
    padding-top: 25px
}

.loader {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    animation: animate 2s linear infinite
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg)
    }
    to {
        transform: rotate(1turn);
        filter: hue-rotate(1turn)
    }
}

.loader:before {
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #333
}

.loader:after,
.loader:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: 100000
}

.loader:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    z-index: 1;
    filter: blur(30px)
}

.hidden-body {
    overflow: hidden
}

.center {
    height: 100vh;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 1300
}

.navbar {
    background: #04a6a1;
    background: -webkit-gradient(linear, left top, right top, from(#38ef7d), to(#04a6a1));
    background: linear-gradient(90deg, #38ef7d, #04a6a1);
    padding: 0!important
}

.navbar-brand img {
    height: 50px;
    padding-left: 50px
}

#logo {
    color: #fff;
    font-family: Montserrat, sans-serif;
    margin-left: 5px;
    font-weight: 600
}

.navbar-nav li {
    padding: 0 10px
}

.navbar-nav li a {
    color: #fff!important;
    font-weight: 700;
    float: right;
    text-align: left
}

.navbar-nav a:hover {
    color: #2c3e50!important;
    transition: .9s
}

.navbar-nav a:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: hsla(0, 0%, 100%, .9);
    -webkit-transition: transform .25s;
    transition: transform .25s
}

.fa-bars {
    color: #fff;
    font-size: 30px!important
}

.navbar-toggler {
    outline: none!important
}

#inicio {
    background: #04a6a1;
    background: -webkit-gradient(linear, left top, right top, from(#38ef7d), to(#04a6a1));
    background: linear-gradient(90deg, #38ef7d, #04a6a1);
    color: #fff;
    padding-top: 5%
}

.promo-title {
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 110px
}

.promo-subtitle {
    font-family: Open Sans, sans-serif
}

#inicio a {
    text-decoration: none
}

.btn-outline-primary {
    font-weight: 700;
    color: #ecf0f1;
    border-color: #ecf0f1;
    margin-right: 10px;
    border-radius: 50px
}

.btn-outline-primary:hover {
    background: #16a085;
    border-color: #16a085
}

.btn-outline-primary:active {
    background-color: #1abc9c!important;
    border-color: #1abc9c!important
}

.btn-outline-primary:focus {
    -webkit-box-shadow: 0 0 0 .2rem #00b894;
    box-shadow: 0 0 0 .2rem #00b894
}

.btn-light {
    font-weight: 700;
    color: #38ef7d;
    border-radius: 50px;
    padding: 6px 30px
}

.btn-light:hover {
    color: #2c3e50
}

.img-fluid {
    margin-bottom: 30px
}

.wave {
    width: 100%
}

#beneficios,
.padding {
    padding: 90px 0;
    background: #fff
}

.beneficios {
    background-color: #fff;
    display: block;
    border-radius: 4px;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer!important
}

.beneficios:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #04a6a1;
    background: -webkit-gradient(linear, left top, right top, from(#38ef7d), to(#04a6a1));
    background: linear-gradient(90deg, #38ef7d, #04a6a1);
    -webkit-transition: width .3s ease 0s, left .3s ease 0s;
    transition: width .3s ease 0s, left .3s ease 0s;
    width: 0
}

.beneficios:hover:after {
    width: 100%;
    left: 0
}

.beneficios-section {
    width: 35px;
    margin-bottom: 10px
}

.promo-content {
    padding: 25px 25px 0
}

.promo-content h6 {
    color: #1abc9c;
    font-size: 15px;
    line-height: 23px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    margin: 0 0 10px;
    text-transform: uppercase
}

.promo-content p {
    color: #787878;
    font-size: 100%;
    margin: 0 0 25px;
    font-family: Open Sans, sans-serif
}

.second-bg {
    background: #f9f9f9!important
}

#caracteristica {
    padding: 90px 0
}

.section-head h3 {
    padding: 15px;
    color: #2c3e50;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-align: center
}

.section-head p {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    font-family: Open Sans, sans-serif;
    position: relative;
    text-align: center;
    margin-bottom: 40px
}

.freatured {
    -webkit-box-align: start!important;
    -ms-flex-align: start!important;
    align-items: flex-start!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    padding: 1.5em 1em;
    cursor: pointer
}

.icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-width: 2.75em;
    min-height: 2.75rem;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12)
}

.icon-shape {
    text-align: center;
    border-radius: .25rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.icon-shape i {
    font-size: 1.2rem
}

.white-text {
    color: #fff!important
}

.bg-color {
    background: #38ef7d
}

.icon-freatured {
    margin-right: 20px
}

.freatured-content h5 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin: 0 0 10px;
    padding: 0;
    color: #2c3e50;
    font-family: Montserrat, sans-serif
}

.freatured-content p {
    text-align: justify;
    font-size: 100%;
    font-family: Open Sans, sans-serif;
    color: #787878
}

.freatured.mb-5 {
    margin-top: 3rem;
    margin-bottom: 0!important
}

.smartphone2 {
    margin-top: 60px
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.pos-hcenter {
    margin: 0 20px;
    text-align: center
}

.text {
    padding-bottom: 50px
}

.text h2 {
    color: #2c3e50;
    font-size: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: .8px;
    padding-bottom: 35px
}

.text p {
    font-size: 14px;
    line-height: 24px;
    color: #787878;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    letter-spacing: .28px
}

.right-img {
    text-align: center;
    vertical-align: bottom;
    height: 100%;
    margin-top: 180px
}

.right-img img {
    max-width: 100%
}

.media:first-child {
    margin-top: 0
}

.media {
    margin-top: 40px
}

.media-left {
    padding-right: 15px
}

.media-left i {
    font-size: 32px
}

.media-body {
    width: 100%
}

.media-body h4 {
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #2c3e50;
    letter-spacing: .36px;
    padding-bottom: 22px
}

.media-body p {
    text-align: justify;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    line-height: 24px;
    color: #787878;
    letter-spacing: .28px
}

.img-left {
    margin-top: 80px
}

.img-left img {
    width: 100%;
    vertical-align: middle
}

.list .media {
    background: #f6f7fa;
    padding: 12px 0 12px 30px
}

.list .media .icono i {
    font-size: 36px
}

.list .media .body-text h4 {
    font-size: 18px;
    color: #2c3e50
}

.list .media .body-text {
    padding-top: 10px;
    display: table-cell;
    vertical-align: 100%
}

.section-download {
    margin-top: 110px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1
}

.section-download:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .7;
    background: #04a6a1;
    background: -webkit-gradient(linear, left top, right top, from(#38ef7d), to(#04a6a1));
    background: linear-gradient(90deg, #38ef7d, #04a6a1)
}

.download-app-text {
    padding: 100px 0
}

.download-app-text h3 {
    color: #fff;
    font-size: 40px;
    line-height: 35px;
    font-weight: 700;
    font-family: Montserrat, sans-serif
}

.download-app-text p {
    color: #fff;
    font-size: 20px;
    font-family: Open sans, sans-serif
}

.download-btn:hover {
    background: #fff
}

.dowload-section {
    margin-top: 110px;
    position: relative;
    z-index: 1;
    display: block
}

.download-img {
    margin-bottom: -40px
}

.download-btn {
    border: 1px solid #fff;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
    padding: 5px 20px;
    border-radius: 4px;
    margin-bottom: 10px
}

.download-btn a {
    color: #16a085;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.download-btn:hover span {
    background: #04a6a1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #38ef7d), color-stop(90%, #04a6a1));
    background: linear-gradient(180deg, #38ef7d 15%, #04a6a1 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.download-btn span {
    font-size: 28px;
    line-height: 28px;
    margin-right: 10px;
    color: #fff
}

.download-btn p {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
    font-family: Montserrat, sans-serif;
    font-weight: 700
}

.download-btn small {
    font-weight: 600
}

.download-btn:hover p {
    color: #04a6a1
}

.padding-top {
    padding-top: 50px
}

.counter-content-wrap span {
    float: left;
    margin-right: 15px;
    font-size: 40px;
    line-height: 40px;
    position: relative;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 8px;
    background: #04a6a1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #38ef7d), color-stop(90%, #04a6a1));
    background: linear-gradient(180deg, #38ef7d 15%, #04a6a1 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.counter-section .counter-title {
    font-size: 1.371rem;
    line-height: 1.2em;
    color: #747474;
    margin-bottom: 0;
    font-weight: 600
}

.counter-section .counter-title strong {
    font-weight: 700;
    font-family: Montserrat, sans-serif
}

.counter-section .counter-list {
    font-size: 1.143rem
}

.counter-section .counter-list li {
    text-align: center;
    margin: 0 40px
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px
}

.counter-section .counter-list li:nth-child(3n+1) .count {
    color: #16a085
}

.counter-section .counter-list li:nth-child(3n+2) .count {
    color: #1abc9c
}

.counter-section .counter-list li:nth-child(3n+3) .count {
    color: #38ef7d
}

.counter-section .counter-list .count {
    font-size: 25px!important;
    display: block;
    font-family: Montserrat, sans-serif;
    font-weight: 700!important;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit
}

.counter-section .counter-list .title {
    color: #767676;
    font-family: Open Sans, sans-serif;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit
}

.section_wrapper {
    margin-top: 50px;
    width: 100%;
    position: relative
}

.social_margins {
    padding: 40px 0 10px
}

.align_center {
    text-align: center
}

.section_box {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    position: relative
}

ul.social_icons {
    display: block;
    width: 100%;
    max-width: 1140px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #787878;
    list-style: none
}

ul.social_icons li {
    display: inline-block;
    margin: 10px 0!important;
    padding: 0 30px!important;
    text-align: center;
    line-height: 100%!important
}

ul.social_icons li a i {
    font-size: 36px;
    line-height: 36px;
    color: #767676;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

ul.social_icons li a i:hover {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    color: #38ef7d
}

#footer {
    width: 100%;
    background-color: #2d3436;
    border-top: 1px solid #2a2f37;
    z-index: 100;
    padding: 50px 0 20px
}

#footer-box {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center
}

.p-footer {
    font-family: Open Sans, sans-serif;
    color: #636e72;
    margin-bottom: 25px;
    line-height: 24px;
    font-weight: 300
}