@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background: #04a6a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #04a6a1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #04a6a1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  padding: 0 !important;
}

.navbar-brand {
  height: 40px;
  padding-left: 40px;
}

.navbar-brand h1 {
  color: #ffffff !important;
  font-size: 25px;
  font-weight: 500;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav a {
  font-family: "Montserrat", sans-serif;
  color: #ffffff !important;
  font-weight: 600;
  text-align: left;
}

.fa-bars {
  color: #ffffff;
  font-size: 30px !important;
}

.navbar-toggler {
  outline: none !important;
}

/************Banner Section************/

#banner {
  background: #04a6a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #04a6a1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #04a6a1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  padding-top: 5%;
}

.promo-title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-top: 150px;
}

.promo-subtitle {
  font-family: "Open Sans", sans-serif;
}

#banner a {
  text-decoration: none;
}

.btn-outline-primary {
  font-weight: bold;
  color: #ecf0f1;
  border-color: #ecf0f1;
  margin-right: 10px;
  border-radius: 50px;
}

.btn-outline-primary:hover {
  background: #16a085;
  border-color: #16a085;
}

.btn-outline-primary:active {
  background-color: #1abc9c !important;
  border-color: #1abc9c !important;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 184, 148, 1);
}

.btn-light {
  font-weight: bold;
  color: #38ef7d;
  border-radius: 50px;
  padding: 6px 30px;
}

.btn-light:hover {
  color: #2c3e50;
}
.img-fluid {
  margin-top: 45px;
  margin-bottom: 30px;
}
.wave {
  width: 100%;
}

/*--------------Section Benefit-------------------*/

#benefit {
  padding: 90px 0;
  background: #fff;
}

.benefit {
  background-color: #fff;
  display: block;
  border-radius: 4px;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer !important;
}

.benefit:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #04a6a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #04a6a1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #04a6a1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.benefit:hover:after {
  width: 100%;
  left: 0;
}

.benefit-section {
  width: 35px;
  margin-bottom: 10px;
}

.promo-content {
  padding: 25px 25px 0;
}

.promo-content h6 {
  color: #1abc9c;
  font-size: 15px;
  line-height: 23px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.promo-content p {
  color: #787878;
  font-size: 100%;
  margin: 0px 0px 25px;
  font-family: "Open Sans", sans-serif;
}

.second-bg {
  background: #f9f9f9 !important;
}

/*--------------------Freatured Section-------------------*/

#freatured {
  padding: 90px 0px;
}

.section-head {
  margin-right: 60px;
}

.section-head h3 {
  padding: 15px;
  color: #2c3e50;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.section-head p {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.freatured {
  align-items: flex-start !important;
  display: flex !important;
  padding: 1.5em 1em;
  cursor: pointer;
}

.icon {
  display: inline-flex;
  min-width: 2.75em;
  min-height: 2.75rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.icon-shape {
  text-align: center;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: center;
}

.icon-shape i {
  font-size: 1.2rem;
}

.white-text {
  color: #fff !important;
}

.bg-color {
  background: #38ef7d;
}

.icon-freatured {
  margin-right: 20px;
}

.freatured-content h5 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
  font-weight: 600;
  margin: 0 0 10px;
  padding: 0;
  color: #2c3e50;
  font-family: "Montserrat", sans-serif;
}

.freatured-content p {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: #787878;
}

.freatured.mb-5 {
  margin-top: 3rem;
  margin-bottom: 0rem !important;
}

.smartphone2 {
  margin-top: 60px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.pos-hcenter {
  margin: 0px 20px;
  text-align: center;
}
