@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700|Open+Sans:300,400");

/*====================================
		    Reset CSS
====================================*/

a,
body,
div,
header,
html,
i,
img,
li,
nav,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
body {
  font-weight: 400;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  color: #787878;
  font-size: 15px;
  line-height: 1.75em;
  overflow-x: hidden;
  text-align: left;
  line-height: 1;
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.hidden-body {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  padding: 0;
  color: #2c3e50;
  font-family: Monserrat, sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
}
h2 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
}
h3 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
}
h4 {
  font-size: 25px;
  line-height: 33px;
  font-weight: 600;
}
h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
h6 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
}
strong {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}
header,
nav {
  display: block;
}
img {
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #04a6a1;
  text-decoration: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
a:active,
a:focus {
  text-decoration: none;
}
a:focus,
a:hover {
  color: #1abc9c;
  outline: 0;
  text-decoration: none;
}
.navbar .container {
  display: inline;
}
.ptb-90 {
  padding: 90px 0;
}
.ptb-50 {
  padding: 50px 0;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-0 {
  margin-bottom: 0;
}
.bg-secondary {
  background: #f8f8f8 !important;
}
.bg-white {
  background: #fff !important;
}
.bg-color {
  background: #04a6a1 !important;
}
.white-text {
  color: #fff !important;
}
.color-text {
  color: #04a6a1 !important;
}
button {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border: 1px solid transparent;
}

/*====================================
		    PRELOADER CSS
====================================*/

#preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
}
.hidden {
  display: none;
}
#loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #04a6a1;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #1abc9c;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #38ef7d;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*====================================
		    Main CSS
====================================*/

.main {
  max-width: 1920px;
  margin: 0 auto;
}
.section-heading {
  margin-bottom: 50px;
}
.section-heading h3 {
  font-weight: 700;
}
.section-heading p {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-top: 20px;
}

/*====================================
		    Header CSS
====================================*/

.navbar {
  background-color: #04a6a1 !important;
}
.navbar .nav.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .navbar-collapse {
  border-top: 1px solid #04a6a1;
}
.navbar .navbar-brand {
  display: block;
}
#name {
  color: #fff;
  font-family: Montserrat, sans-serif;
  margin-left: 5px;
  font-weight: 600;
  padding-bottom: 10px;
}
.logo {
  height: 50px;
}
.navbar .nav.navbar-nav li a {
  color: #fff;
  padding: 22px 15px;
}
.navbar .nav.navbar-nav li a:hover,
.navbar .nav.navbar-nav li.active a {
  background: 0 0;
  color: #fff;
  opacity: 1;
}
.navbar-toggler {
  margin: auto 0;
}
.navbar .navbar-toggler,
.navbar .navbar-toggler.collapsed:active,
.navbar .navbar-toggler:active,
.navbar .navbar-toggler:hover {
  margin-top: 16px;
  border: 1px solid #fff;
  background-color: #fff;
}
.navbar .navbar-toggler.collapsed {
  border: 1px solid #04a6a1;
  background: 0 0;
}
.navbar .navbar-toggler.collapsed {
  border: 1px solid #04a6a1;
  background: 0 0;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .navbar .nav.navbar-nav li a {
    padding: 8px 15px;
  }
}
@media (min-width: 768px) {
  .navbar {
    padding: 20px 0;
    border-bottom: 1px solid transparent;
    background: 0 0 !important;
    -o-transition: border-bottom 0.3s ease-in-out, background 0.3s ease-in-out,
      padding 0.3s ease-in-out;
    -webkit-transition: border-bottom 0.3s ease-in-out,
      background 0.3s ease-in-out, padding 0.3s ease-in-out;
    -moz-transition: border-bottom 0.3s ease-in-out, background 0.3s ease-in-out,
      padding 0.3s ease-in-out;
    transition: border-bottom 0.3s ease-in-out, background 0.3s ease-in-out,
      padding 0.3s ease-in-out;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-transition: border-bottom 0.3s ease-in-out, background 0.3s ease-in-out,
      padding 0.3s ease-in-out;
  }
  .navbar .nav.navbar-nav {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar .navbar-collapse {
    border: none;
  }
  .navbar.top-nav-collapse {
    padding: 0;
    background: linear-gradient(
      150deg,
      #04a6a1 15%,
      #1abc9c 70%,
      #38ef7d 94%
    ) !important;
  }
  .navbar .navbar-brand {
    margin-right: 16px;
    margin-left: 0 !important;
  }
  .navbar .nav.navbar-nav li a,
  .navbar .nav.navbar-nav.navbar-right li a {
    padding: 20px 10px;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
  }
  .navbar .nav.navbar-nav li a:hover,
  .navbar .nav.navbar-nav li.active a {
    background: 0 0;
    color: #e7f3ff;
  }
}

/*====================================
		    END Header CSS
====================================*/

/*====================================
		    Hero CSS
====================================*/

#home {
  background: url(assets/img/homebg-min.jpg) center center/cover no-repeat;
}
.hero-background {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}
.hero-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    150deg,
    rgba(4, 166, 161, 0.65) 15%,
    rgba(26, 188, 156, 0.55) 70%,
    rgba(56, 239, 125, 0.5) 94%
  );
}
.hero-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 200;
  text-align: center;
}
.hero-content h1 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 0;
  font-weight: 600;
}
.hero-content p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7;
  padding: 20px 0;
}
.btns-action {
  display: block;
  margin-bottom: 20px;
}
.btns-action a {
  padding: 10px 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}
.btns-action a.btn-primary {
  color: #333;
  border: 1px solid #fff;
  text-align: center;
  background-color: #fff;
}
.btns-action a.btn-primary:hover {
  background-color: #f3eaea;
  border: 1px solid #f3eaea;
}
.btns-action a.btn-secondary {
  background-color: #23272a;
  border: 1px solid #23272a;
  margin-right: 24px;
}
.btns-action a.btn-secondary:hover {
  background-color: #2d3033;
  border: 1px solid #2d3033;
}

@media (max-width: 768px) {
  .hero-content > .btns-action > .btn.btn-primary {
    display: none;
  }
}

@media(max-width: 425px){
  .hero-content {
    text-align: left;
  }
}

/*====================================
		    END Hero CSS
====================================*/

/*==============================
     benefit SECTION CSS
==============================*/

.single-benefit-section {
  background: #fff;
  display: block;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 0 1px 2px rgba(212, 212, 212, 0.35);
  box-shadow: 0 1px 2px rgba(212, 212, 212, 0.35);
}
.single-benefit-section:hover {
  -webkit-box-shadow: 0 1px 2px rgba(212, 212, 212, 0.55);
  box-shadow: 0 1px 2px rgba(212, 212, 212, 0.55);
  cursor: pointer;
}
.single-benefit-section:hover .line {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.single-benefit-content {
  padding: 25px 25px 0;
}
.benefit-logo {
  width: 35px;
  height: 35px;
}
.single-benefit-content h6 {
  font-size: 15px;
  line-height: 23px;
}
.single-benefit-content p {
  margin-bottom: 25px;
}
.single-benefit-section .line {
  width: 100%;
  height: 2px;
  background: #04a6a1;
  background: linear-gradient(150deg, #04a6a1 15%, #1abc9c 70%, #38ef7d 94%);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media screen and (max-width: 767px) {
  .benefit-section {
    padding-bottom: 30px;
  }
}

/*==============================
     END SECTION CSS
==============================*/

/*==============================
     FEATURE SECTION CSS
==============================*/

.align-items-center {
  align-items: center !important;
}
.single-feature {
  align-items: flex-start !important;
  display: flex !important;
  padding: 1.5em 1em;
  cursor: pointer;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.feature-icon {
  margin-right: 20px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.feature-image {
  margin-left: 25px;
}

.icon-shape {
  text-align: center;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: center;
}
.icon {
  display: inline-flex;
  min-width: 2.75rem;
  min-height: 2.75rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  color: inherit;
  transition: all 0.3s ease-in;
}
.icon-shape i {
  font-size: 1.2rem;
}
.feature-content h5 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
}
.single-feature:hover .icon {
  border-radius: 50%;
}

/*==============================
     END FEATURE SECTION CSS
==============================*/

/*==============================
     VIEW AND GOALS SECTION CSS
==============================*/

.iconVG {
  display: block;
  margin: auto 0;
}
.text {
  padding-bottom: 50px;
}
.text h2 {
  color: #2c3e50;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding-bottom: 35px;
}
.text p {
  font-size: 14px;
  line-height: 24px;
  color: #787878;
  font-weight: 700;
  letter-spacing: 0.28px;
}
.right-img {
  text-align: center;
  vertical-align: bottom;
  height: 100%;
  margin-top: 180px;
}
.right-img img {
  max-width: 100%;
}
.media:first-child {
  margin-top: 0;
}
.media {
  margin-top: 40px;
}
.media-left {
  padding-right: 15px;
}
.media-left i {
  font-size: 32px;
}
.media-body {
  width: 100%;
}
.media-body h4 {
  font-size: 18px;
  font-weight: 700;
  color: #2c3e50;
  letter-spacing: 0.36px;
}
.media-body p {
  text-align: justify;
  font-size: 14px;
  line-height: 24px;
  color: #787878;
  letter-spacing: 0.28px;
}
.img-left {
  margin-top: 80px;
}
.img-left img {
  width: 100%;
  vertical-align: middle;
}
.list .media {
  background: #f6f7fa;
  padding: 12px 0 12px 30px;
}
.list .media .iconVG i {
  font-size: 36px;
}
.list .media .body-text h4 {
  font-size: 18px;
  color: #2c3e50;
}
.list .media .body-text {
  padding-top: 10px;
  display: table-cell;
  vertical-align: 100%;
}

@media (max-width: 425px){
  .list .media .body-text
  {font-size: 16px;}
}

/*==============================
    END VIEW AND GOALS SECTION CSS
==============================*/

/*============================================================
				Download app
============================================================*/

.download-section {
  margin-top: 110px;
  position: relative;
  z-index: 1;

  background: url("assets/img/downloadbg-min.jpg") no-repeat center center
    scroll;
  background-size: cover;
}
.download-section:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  background: linear-gradient(
    150deg,
    rgba(4, 166, 161, 0.76) 15%,
    rgba(26, 188, 156, 0.89) 70%,
    rgba(56, 239, 125, 0.74) 94%
  );
}
.download-app-img {
  margin-top: -12px;
}
.download-app-text {
  padding: 100px 0;
}
.download-app-text h3,
.download-app-text p {
  color: #fff;
}
.newsletter {
  position: relative;
  display: block;
  overflow: hidden;
  padding-top: 40px;
  transition: all 0.3s ease-in;
}
.newsletter-form {
  position: relative;
}
.newsletter-form .input-newsletter {
  height: 50px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 15px;
}
.newsletter-form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  border: none;
  border-radius: 0 30px 30px 0;
  background-color: #38ef7d;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  font-weight: 600;
}
.newsletter-form button i {
  position: absolute;
  right: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.newsletter-form .input-newsletter:focus,
.newsletter-form button:focus {
  outline: 0;
}

/*============================================================
				END Download app
============================================================*/

/*============================================================
				Start Counter app
============================================================*/

.counter-content-wrap span {
  float: left;
  margin-right: 15px;
  font-size: 40px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  align-items: center;
  top: 8px;
  background: linear-gradient(150deg, #04a6a1 15%, #1abc9c 70%, #38ef7d 94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product-counter-section .counter-title {
  font-size: 1.371rem;
  line-height: 1.2em;
  color: #747474;
  margin-bottom: 0;
}
.product-counter-section .counter-list {
  font-size: 1.143rem;
}
.product-counter-section .counter-list li {
  text-align: center;
  margin: 0 40px;
}
.product-counter-section .counter-list .count {
  font-size: 1.571rem;
  margin-bottom: 5px;
  display: block;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}
.product-counter-section .counter-list .title {
  display: block;
  font-size: 16px;
}
.product-counter-section .counter-list li:nth-child(3n + 1) .count {
  color: #04a6a1;
}
.product-counter-section .counter-list li:nth-child(3n + 2) .count {
  color: #1abc9c;
}
.product-counter-section .counter-list li:nth-child(3n + 3) .count {
  color: #38ef7d;
}
@media (max-width: 768px) {
  .counter-content-wrap p,
  .product-counter-section .counter-title {
    text-align: center;
  }
  .product-counter-section .counter-list li {
    margin: 10px 0 0 0;
  }
  .counter-content-wrap span {
    text-align: center;
    display: block;
    margin-bottom: 15px;
    float: none;
  }
}
@media (max-width: 767px) {
  .product-counter-section .counter-list {
    text-align: center;
    margin-top: 20px;
  }
}

/*============================================================
				END Counter app
============================================================*/

/*============================================================
				Start Social icon app
============================================================*/

.section_wrapper {
  width: 100%;
  position: relative;
}
.social_margins {
  padding: 40px 0 10px;
}
.align_center {
  text-align: center;
}
.section_box {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}
ul.social_icons {
  display: block;
  width: 100%;
  max-width: 1140px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #787878;
  list-style: none;
}
ul.social_icons li {
  display: inline-block;
  margin: 10px 0 !important;
  padding: 0 30px !important;
  text-align: center;
  line-height: 100% !important;
}
ul.social_icons li a i {
  font-size: 36px;
  line-height: 36px;
  color: #767676;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
ul.social_icons li a i:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  color: #38ef7d;
}

/*============================================================
				END Social icon app
============================================================*/

#footer {
  width: 100%;
  background-color: #2d3436;
  border-top: 1px solid #2a2f37;
  z-index: 100;
  padding: 50px 0 20px;
}
#footer-box {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
.p-footer {
  font-family: "Open Sans", sans-serif;
  color: #80888b;
  margin-bottom: 25px;
  line-height: 24px;
  font-weight: 300;
}

/*============================================================
				 END Footer icon app
============================================================*/

/*
#04a6a1 #16a085 ##1abc9c #38ef7d 
linear-gradient(150deg, #04a6a1 15%, #1abc9c 70%, #38ef7d 94%);
*/

/*============================================================
				 Responsive
============================================================*/

@media screen and (max-width: 480px) and (min-width: 415px) {
}

@media screen and (max-width: 320px) and (min-width: 0px) {
  .hero-content h1 {
    font-size: 25px;
    line-height: 27px;
  }
  .hero-content-wrap-1 {
    height: 400px;
  }
  .hero-action-btn a {
    margin-bottom: 15px;
  }
  .download-section {
    margin-top: 0;
  }
  .download-app-text {
    padding: 50px 0;
  }
  .download-btn {
    width: 100%;
    padding: 5px 50px;
  }
}
@media screen and (max-width: 360px) and (min-width: 321px) {
  .hero-content-wrap-1 {
    height: 400px;
  }
  .hero-action-btn a {
    margin-bottom: 15px;
  }
  .download-section {
    margin-top: 0;
  }
  .download-app-text {
    padding: 50px 0;
  }
  .download-btn {
    width: 100%;
    padding: 5px 50px;
  }
}
@media screen and (max-width: 375px) and (min-width: 361px) {
  .hero-content h1 {
    font-size: 25px;
    line-height: 27px;
  }

  .hero-content-wrap-1 {
    height: 400px;
  }
  .hero-action-btn a {
    margin-bottom: 15px;
  }
  .download-section {
    margin-top: 0;
  }
  .download-app-text {
    padding: 50px 0;
  }
  .download-btn {
    width: 100%;
    padding: 5px 50px;
  }
}
@media screen and (max-width: 414px) and (min-width: 376px) {
  .hero-content-wrap-1 {
    height: 400px;
  }
  .hero-action-btn a {
    margin-bottom: 15px;
  }
  .download-section {
    margin-top: 0;
  }
  .download-app-text {
    padding: 50px 0;
  }
}
@media screen and (max-width: 480px) and (min-width: 415px) {
  .hero-content h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .hero-content-wrap-1 {
    height: 400px;
  }
  .hero-action-btn a {
    margin-bottom: 15px;
  }
  .download-section {
    margin-top: 0;
  }
  .download-app-text {
    padding: 50px 0;
  }
}
@media screen and (max-width: 568px) and (min-width: 481px) {
  .hero-content-wrap-1 {
    height: 400px;
  }
  .hero-action-btn a {
    margin-bottom: 15px;
  }
  .download-section {
    margin-top: 0;
  }
  .download-app-text {
    padding: 50px 0;
  }
}
@media screen and (max-width: 640px) and (min-width: 569px) {
  .hero-content-wrap-1 {
    height: 400px;
  }
  .hero-action-btn a {
    margin-bottom: 15px;
  }
  .download-section {
    margin-top: 0;
  }
  .download-app-text {
    padding: 50px 0;
  }
}
@media screen and (max-width: 720px) and (min-width: 641px) {
  .hero-content-wrap-1 {
    height: 400px;
  }
  .hero-action-btn a {
    margin-bottom: 15px;
  }
  .download-section {
    margin-top: 0;
  }
  .download-app-text {
    padding: 50px 0;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .btn {
    margin: 10px auto;
  }
  .counter-list {
    text-align: center !important;
  }
}
@media screen and (max-width: 768px) and (min-width: 721px) {
  .counter {
    margin: auto 0;
  }
}
@media screen and (max-width: 991px) and (min-width: 769px) {
  .product-counter-section .counter-list li {
    margin: 0 auto;
  }
}

